<%- include("../partials/header") %>
<div id="formwrapper">
  <form
    id="edit-course-form"
    action="/courses/<%= course._id %>?_method=PUT"
    method="POST"
  >
    <label>Course Name</label>
    <input type="text" name="name" />
    <br />
    <label>Location</label>
    <input type="text" name="location" />
    <br />
    <label>Par</label>
    <input type="number" name="par" />
    <br />
    <label>Yardage</label>
    <input type="number" name="yardage" />
    <br />
    <label>Slope Rating</label>
    <input type="number" name="slope" />
    <br />
    <label>Holes</label>
    <input type="number" name="numHoles" />
    <button type="submit">Update</button>
  </form>
</div>

<%- include("../partials/footer") %>
