<%- include("../partials/header") %>
<div class="formwrapper">
  <form id="new-course-form" class ="addform" action="/courses/" method="POST">
    <label>Course Name</label>
    <input type="text" name="name" />
    <br />
    <label>Location</label>
    <input type="text" name="location" />
    <br />
    <label>Par</label>
    <input type="number" name="par" />
    <br />
    <label>Yardage</label>
    <input type="number" name="yardage" />
    <br />
    <label>Slope</label>
    <input type="number" name="slope" />
    <br />
    <label>Holes</label>
    <input type="number" name="numHoles" />
    <button type="submit">Add New Course</button>
  </form>
</div>

<%- include("../partials/footer") %>
