<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="stylesheets/landing.css" />
    <title>Fore Score</title>

</head>
<body>
    <div id="indextitle"><h1><%= title %></h1></div>
<main>
    <nav id="navbar">
        <ul class="right">
            <li>
            <% if (user) { %>
                <a href="/logout"><i class="material-icons left"></i>Log Out</a>
            <% } else { %>
                <a href="/auth/google"><i class="material-icons left"></i>Login with Google</a>
            <% } %>
            </li>
        </ul>
    </nav>
<%- include('partials/footer') %>


