body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  /* background-color: #a6cd32; */
  background-image: url("/images/green.jpg");
  /* -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover; */
  background-size: cover;
  color: white;
}

a {
  color: #00B7FF;
}

#navbar {
  display: flex;
  justify-content: space-around;
  align-self: center;
  font: 20px "lucida Grande", Helvetica, Arial, sans-serif;
  font-weight: bold;
  width: 97%;
  height: 5vh;
  background-color: #00802b;
  opacity: 0.7;
  border-radius: 25px;
  padding: 20px;
}

#bottom-nav {
  margin-bottom: 0%;
  width: 100%;
  display: flex;
  justify-content: center;
  font-weight: bold;
  font-style: italic;
  font-size: 5vh;
  position: fixed;
  bottom: 0;
}