<%- include("../partials/header") %> 
<form id="new-form" action="/rounds" method="POST">
    <label>Date Of Play</label>
    <input type="datetime-local" name="dateOfPlay">
    <br>
    <label>Course</label>
    <input type="text" name="course"><a href="">Add A New Course</a>
    <br>
    <label>Score</label>
    <input type="number" name="score">
    <button type="submit">Add New Rounds</button>
</form>
<%- include("../partials/footer") %> 